*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: #263238;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 2.4rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: calc(3 * 21rem);
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.header-logo {
  position: absolute;
  right: 4rem;
  top: 2.4rem;
  width: 3.2rem;
  z-index: 1;
  animation: fadein 2000ms;
}

.colorize {
  filter: invert(77%) sepia(57%) saturate(342%) hue-rotate(1deg) brightness(97%)
    contrast(93%);
}

.stripe-container {
  top: -18rem;
  left: -5rem;
  position: absolute;
  width: 120vw;
}

.stripe {
  height: 20rem;
  left: 0;
  right: 0;
  transform: rotate(-8deg);
}

.stripe:nth-of-type(1) {
  height: 24rem;
  background: #0889b4;
}

.stripe:nth-of-type(2) {
  background: #04607f;
}

.stripe:nth-of-type(3) {
  background: #013b48;
}

.title {
  color: #eccd6e;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 10%;
  position: relative;
  animation: fadein 2000ms, slideIn 1000ms forwards;
}

.title > h1 {
  font-size: 5.2rem;
}

.title > hr {
  border-color: #eccd6e;
  width: 100%;
  max-width: 50rem;
  margin-left: 0;
}

.interests-container {
  font-style: italic;
  display: flex;
  margin: 0;
}

.interests-divider {
  font-style: normal;
  margin: 0 1.2rem;
}

section {
  border-bottom: 0.1rem solid #b0bec5;
  padding: 6.4rem 10%;
}

section hr {
  display: inline-block;
  width: 20rem;
}

.view-link {
  color: #000;
  display: inline-block;
  font-style: italic;
  position: relative;
  overflow: hidden;
  padding-right: 0.2rem;
  margin-right: 3.2rem;
}

.view-link::before {
  content: "";
  background-color: #ff7043;
  opacity: 0;
  position: absolute;
  top: 0.8rem;
  bottom: 0.8rem;
  left: -2.4rem;
  transition: all 200ms ease-in-out;
  width: 100%;
  height: 0.5rem;
}

.code-link::before {
  background-color: #039be5;
}

.project-link::before {
  background-color: #00897b;
}

.view-link:hover::before {
  left: 0.5rem;
  opacity: 0.5;
}

.view-link::after {
  content: "";
  background-color: #424242;
  height: 0.2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 200ms ease-in-out;
}

.view-link:hover::after {
  left: 100%;
  right: unset;
}

.projects {
  background: #f5f5f5;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
}

.card {
  background: #fff;
  border-radius: 0.8rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
}

.card-media {
  display: block;
  height: auto;
  margin: 0 auto;
  max-height: 360px;
  max-width: 100%;
  width: auto;
}

.card-title-container {
  align-items: center;
  display: flex;
}

.card-title-container > h2 {
  margin-right: 3.2rem;
}

.extras {
  align-items: center;
  display: flex;
  margin-top: 4.8rem;
}

footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 3.2rem;
  background-color: #fff;
}

.want-to-work-title {
  font-style: italic;
}

.footer-wordmark {
  width: 4rem;
}

.contact-link {
  display: block;
  font-weight: bold;
  margin: 0 1.6rem 0.8rem 0;
  text-align: right;
}

.contact-link:hover {
  text-decoration: underline;
}

.mobile {
  display: none;
}

.elevation-1 {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
}

.elevation-2 {
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16),
    0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
}

.elevation-3 {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19),
    0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
}

.elevation-5 {
  box-shadow: 0 1.9rem 3.8rem rgba(0, 0, 0, 0.3),
    0 1.5rem 1.2rem rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 414px) {
  .title {
    margin: 0 1.6rem;
  }

  .title h1 {
    font-size: 4.2rem;
  }

  .about {
    padding: 0 1.6rem 3.2rem 1.6rem;
  }

  .card-title-container {
    align-items: flex-start;
    flex-direction: column;
  }

  .projects {
    padding: 1.6rem;
  }

  .projects-section-title {
    margin: 0 1.6rem;
  }

  .interests-container {
    flex-direction: column;
  }

  .interests-divider {
    display: none;
  }

  .view-link {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .want-to-work-title {
    border-bottom: 0.1rem solid #000;
    margin: 3.2rem 0 3.2rem 0;
    padding: 3.2rem 0;
    text-align: center;
    width: 60%;
  }

  .contact-link {
    text-align: center;
    margin: 0 0 0.8rem 0;
  }

  .contact-divider {
    display: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(2.4rem);
  }
  to {
    transform: translateY(0);
  }
}
